*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    color: white;
    background: #000000f5;  
    align-items: start;
    font-family: Arial, Helvetica, sans-serif;
}